#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.conjunto{
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.buttonEnviar{
  width: 350px;
  margin-top: 2em;
  font-weight: 600;
  
}

@media screen and (max-width:550px){
  .buttonEnviar{
    width: 100%;
   
    
  }
}